@import "tailwindcss";

@font-face {
  font-family: "Tajawal";
  src: url(../assets/fonts/Tajawal-Regular.ttf);
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: "Tajawal", sans-serif;
}

:root {
  --color-primary-400: #6765f1;
  --color-secondary-400: #a556f7;
  --color-dark-bg: #0f172a;
  --color-dark-card: #17233f;
  --color-dark-text: #e5e5e5;
  --color-dark-accent: #6366f1;
  --color-light-bg: #f2f2f2;
  --color-light-card: #ffffff;
  --color-light-text: #333333;
  --color-light-accent: #443dc8;
}

.light {
  --bg-color: var(--color-light-bg);
  --card-bg: var(--color-light-card);
  --text-color: var(--color-light-text);
  --accent-color: var(--color-light-accent);
}

.dark {
  --bg-color: var(--color-dark-bg);
  --card-bg: var(--color-dark-card);
  --text-color: var(--color-dark-text);
  --accent-color: var(--color-dark-accent);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.bg-theme-bg {
  background-color: var(--bg-color);
}

.bg-theme-card {
  background-color: var(--card-bg);
}

.text-theme-text {
  color: var(--text-color);
}

.text-theme-accent {
  color: var(--accent-color);
}

.hover\:text-theme-accent-hover:hover {
  color: white;
}

.border-theme-accent {
  border-color: var(--accent-color);
}

.bg-gradient-primary {
  background-image: linear-gradient(
    to right,
    var(--color-primary-400),
    var(--color-secondary-400)
  );
}

.hover\:text-theme-accent:hover {
  color: var(--accent-color);
}

.hover\:bg-theme-accent:hover {
  background-color: var(--accent-color);
}
